[submodule "photoswipe"]
	path = mobile/photoswipe
	url = https://github.com/jayli/photoswipe.git
[submodule "sidebar"]
	path = mobile/sidebar
	url = https://github.com/enson/sidebar.git
[submodule "smartmenu"]
	path = mobile/smartmenu
	url = https://github.com/satans17/smartmenu.git
